{{#if @topic.featured_link}}
  <a href={{@topic.featured_link}}>
    {{theme-i18n "featured_link_banner.text_before_link"}}
    <span>{{@topic.featured_link}}</span>
    {{theme-i18n "featured_link_banner.text_after_link"}}
  </a>
{{/if}}