.featured-topic-link-connector {
  position: fixed;
  bottom: 0;
  background: $background-color;
  color: $text-color;
  box-sizing: border-box;
  z-index: 99;
  left: 0;
  right: 0;
  text-align: center;

  > a {
    color: $text_color;
    display: block;
    padding: 2em;

    @media screen and (width <= 760px) {
      padding: 1em;
    }

    span {
      color: $link-color;
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

@if $show-on-mobile == "false" {
  .mobile-view {
    .featured-topic-link-connector {
      display: none;
    }
  }
}
