{{#if this.parentView.model.featured_link}}
  <a href={{this.parentView.model.featured_link}}>
    {{theme-i18n "featured_link_banner.text_before_link"}}
    <span>{{this.parentView.model.featured_link}}</span>
    {{theme-i18n "featured_link_banner.text_after_link"}}
  </a>
{{/if}}